$teal: linear-gradient(to right bottom, #8fc4c4, #87baba, #7fafaf, #78a5a5, #709b9b);
$cream: linear-gradient(to right bottom, #cdcba8, #c4c2a1, #bbb999, #b3b192, #aaa88b);
$dark-blue: linear-gradient(to right bottom, #74919f, #6b8693, #627b87, #5a707b, #51656f);
$white: #E5E5E5;
$black: #282828;
$teal-solid: #7FAFAF;
$cream-solid: #BBB999;
$dark-blue-solid: #627B87;
$grey: lighten($color: $black, $amount: 30);

$transition: 0.3s ease;
$heading-font: 'Heebo';

* {
    font-family: inherit;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    color: $white;
    background: $dark-blue-solid;
}

.header{
    padding: 1em 8em;
    text-align: right;
    background: rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;

    .navbar{
        display: flex;
        align-items: center;

        h2{
            display: inline-block;
            text-align: left;
            font-weight: normal;
        }
        
        ul{
            display: inline-block;
            flex: 1;

            li{
                display: inline;
                margin: .5em;
                font-size: 1.3em;
                list-style: none;

                a{
                    color: $white;
                    text-decoration: none;
                    transition: $transition;

                    &:hover{
                        text-shadow: rgba(0, 0, 0, 0.7) 5px 5px 10px;
                    }
                }
            }
        }
    }
}

section{
    text-align: center;
    padding: 7em 0;

    .heading{
        font-size: 4em;
        font-weight: normal;
        margin-top: 0;
    }

    h2{
        margin: 0;
        font-weight: normal;
    }
}

h1{
    width: 20%;
    border-top: 15px double rgba(0, 0, 0, 0.25);
    border-bottom: 15px double rgba(0, 0, 0, 0.25);
    margin: 1em auto;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px;
}

.cards{
    display: flex;
    margin: 0 auto;
    justify-content: center;

    .card{
        background: $white;
        color: $grey;
        margin: 1em;
        width: 25%;
        padding: 1em;
        display: inline-flex;
        flex-direction: column;
        border-radius: .2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        
        
        h3{
            font-family: $heading-font;
            text-transform: uppercase;
            font-size: 1.4em;
            width: 90%;
            margin: 1em auto;
            border-bottom: 3px solid $black;
        }
        
        ol{
            width: 80%;
            margin: 0 auto;
            text-align: left;
            font-size: 1.5em;
            margin-top: 2em;
            font-style: italic;
            font-weight: bold;

            p{
                padding: 7px;
                font-size: .8em;
                margin-top: -1em;
                font-style: normal;
                font-weight: normal;
            }
        }

        .card-content{
            display: flex;
            flex-direction: column;
            flex: 1;

            .card-content-description{
                flex: 1;
            }
        }
    }

    .card-freelance{
        width: 40%;

        p{
            font-size: 1.2em;

            a{
                color: $grey;
                text-decoration: none;
                transition: $transition;

                &:hover{
                    text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
                }
            }
        }
    }
}

#home{
    margin-top: -6em;
    padding: 14em 0 13em 0;
    background: $teal;

    h1{
        font-family: $heading-font;
        padding: .3em;
        width: auto;
        border: none;
        font-size: 6em;
        background: white;
        width: 40%;
        color: $teal-solid;
        text-shadow: none;
        outline: 5px solid $teal-solid;
        outline-offset: -10px;
        text-transform: uppercase;
        margin-bottom: .2em;
    }

    h2{
        font-size: 2.2em;
        margin-bottom: .5em;
    }

    .links{
        font-size: 3.5em;
    }
    
    a{
        color: $white;
        text-decoration: none;
        transition: $transition;

        &:hover{
            text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 5px;
        }
    }
}

#skills{
    background: $cream;

    .card{
        h3{
            color: $cream-solid;
            border-color: $cream-solid;
        }
    }
}

#projects {
    background: $dark-blue;

    .card {

        h3 {
            color: $dark-blue-solid;
            border-color: $dark-blue-solid;
        }

        p {
            font-size: 1.2em;
        }

        button {
            margin-top: 1em;
            font-size: 1.2em;
            font-family: 'Quicksand';
            color: $white;
            border: 2px solid $dark-blue-solid;
            border-radius: .1em;
            background: none;
            padding: .5em;
            transition: $transition;
            background: $dark-blue-solid;

            &:hover{
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
                background: darken($color: $dark-blue-solid, $amount: 10);
                border: 2px solid darken($color: $dark-blue-solid, $amount: 10);
            }
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);

            .modal-content {
                background-color: #fefefe;
                margin: 3% auto;
                padding: 20px;
                border: 1px solid #fefefe;
                width: 80%;
                border-radius: .5em;

                div {
                    display: flex;

                    .description {
                        display: block;
                        padding: 2rem 0;

                        h2 {
                            width: 100%;
                            padding-bottom: 1rem;
                        }
                    }

                    video {
                        margin: 2rem;
                        border-radius: .5em;
                        width: 65%;
                    }
                }

                .closeFYP, 
                .closeTGPSolo, 
                .closeGD, 
                .closeMGD, 
                .closeFOGGS {
                    color: #aaa;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;

                    &:hover, &:focus{
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }

        padding-bottom: 3em;
    }

    .hidden{
        display: none;
    }
}

#freelance{
    background: $teal;

    .card{
        h3{
            color: $teal-solid;
            border-color: $teal-solid;
        }
    }

    a{
        text-decoration: none;

        .freelance-button{
            width: 15%;
            margin: 2em auto 0 auto;
            background: $dark-blue-solid;
            color: $white;
            font-family: $heading-font;
            text-transform: uppercase;
            padding: .5em;
            font-size: 1em;
            border-radius: .2em;
            transition: $transition;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

            &:hover{
                transform: translateY(-.2em);
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

#contact{
    background: $teal;

    .card{
        width: 40%;
    }

    a, i{
        color: $white;
        text-decoration: none;
        margin: 0 .5em .5em 0;
        transition: $transition;
    }

    a{
        font-size: 1.5em;
        
    }

    i{
        font-size: 2em;
        &:hover{
            text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 7px;
        }
    }

    .email:hover{
        text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 5px;
    }

    form{
        
        label{
            position: relative;

            input, textarea{
                background: transparent;
                border: none;
                border-bottom: 2px solid $grey;
                color: $grey;
                width: 80%;
                font-size: 1.25em;
                margin: 1em 0;
                resize: none;
                transition: $transition;
                font-family: 'Quicksand';
                
                &:focus{
                    outline: none;

                    &::placeholder{
                        transition: $transition;
                        color: transparent;
                    }
                }
            }

            textarea{
                &:focus{
                    outline: none;
                }
            }
        }
        
        .name{
            width: 40%;
        }

        button{
            font-size: 1.4em;
            font-family: 'Quicksand';
            color: $white;
            border: 2px solid $dark-blue-solid;
            border-radius: .1em;
            background: none;
            padding: .5em;
            transition: $transition;
            background: $dark-blue-solid;

            &:hover{
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
                background: darken($color: $dark-blue-solid, $amount: 10);
                border: 2px solid darken($color: $dark-blue-solid, $amount: 10);
            }
        }
    }
}

#buttonrow{
    text-align: center;
    
    .col-sm-2{
        display: inline;

        button{
            margin: 0.5rem;
            padding: 0.5rem;
            font-size: 1rem;
            border-radius: .1em;
            color: $dark-blue;
            border: none;
        }
    }

    #warningDialog{
        display: none;
    }
}

.control-area{
    text-align: center;
    padding: 1rem;

    .controls{
        display: inline;
        padding: 0rem 1rem;
    }
}

.success{
    background: $teal-solid;
    padding: 5em;
    font-family: 'Quicksand';

    h2{
        border: none;
        font-size: 3em;
    }

    p{
        margin-top: 5em;

        a{
        font-size: 2em;
        text-decoration: none;
        color: $white;
        }
    }
}

.hidden{
    display: none;
}

@media screen and (max-width: 1100px) {
    .header{
        text-align: center;
        width: auto;
        font-size: 1.5em;
        padding: 1em 0;

        .navbar{
            flex-direction: column;
        }
    }
    
    #home, #skills, #projects, #freelance, #contact{
        h1{
            width: 50%;
        }
        
        .cards{
            display: block;
            .card, .card-freelance{
                width: 80%;
            }
        }
    }

    #home{
        margin-top: -9em;
        
        h1{
            width: 80%;
        }
    }

    #freelance{
        a{
            .freelance-button{
                width: 80%;
                margin-top: 1em;
            }
        }
    }

    #contact{
        a{
            font-size: 3em;
        }
    }
}