$teal: linear-gradient(to right bottom, #8fc4c4, #87baba, #7fafaf, #78a5a5, #709b9b);
$cream: linear-gradient(to right bottom, #cdcba8, #c4c2a1, #bbb999, #b3b192, #aaa88b);
$dark-blue: linear-gradient(to right bottom, #74919f, #6b8693, #627b87, #5a707b, #51656f);
$white: #E5E5E5;
$black: #282828;
$teal-solid: #7FAFAF;
$cream-solid: #BBB999;
$dark-blue-solid: #627B87;
$grey: lighten($color: $black, $amount: 30);

$transition: 0.3s ease;
$heading-font: 'Heebo';

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    color: $white;
}

.header{
    padding: 1em 8em;
    text-align: right;
    background: rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;

    .navbar{    
        ul{
            display: inline-block;
            
            a{
                color: $white;
                text-decoration: none;
                transition: $transition;
                
                li{
                display: inline;
                margin: .5em;
                font-size: 1.3em;
                
                }

                &:hover{
                    text-shadow: rgba(0, 0, 0, 0.7) 5px 5px 10px;
                }
            }
        }
    }
}

section{
    text-align: center;
    padding: 7em 0;

    .heading{
        font-size: 4em;
        font-weight: normal;
        margin-top: 0;
    }

    h2{
        margin: 0;
        font-weight: normal;

        
    }
}

h1{
    width: 20%;
    border-top: 15px double rgba(0, 0, 0, 0.25);
    border-bottom: 15px double rgba(0, 0, 0, 0.25);
    margin: 1em auto;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px;
}

.cards{
    display: flex;
    margin: 0 auto;
    justify-content: center;

    .card{
        background: $white;
        color: $grey;
        margin: 1em;
        width: 25%;
        padding: 1em;
        display: inline-block;
        border-radius: .2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        
        
        h3{
            font-family: $heading-font;
            text-transform: uppercase;
            font-size: 1.5em;
            width: 90%;
            margin: 1em auto;
            border-bottom: 3px solid $black;
        }
        
        ol{
            width: 80%;
            margin: 0 auto;
            text-align: left;
            font-size: 1.5em;
            margin-top: 2em;
            font-style: italic;
            font-weight: bold;

            p{
                padding: 7px;
                //border-left: 2px solid lighten($color: $black, $amount: 30);
                font-size: .8em;
                margin-top: -1em;
                font-style: normal;
                font-weight: normal;
            }
        }

        ul{
            //list-style: none;
        }
    }
}

#home{
    margin-top: -6em;
    padding: 14em 0 13em 0;
    background: $teal;

    h1{
        font-family: $heading-font;
        padding: .3em;
        width: auto;
        border: none;
        font-size: 6em;
        background: white;
        width: 40%;
        color: $teal-solid;
        text-shadow: none;
        outline: 5px solid $teal-solid;
        outline-offset: -10px;
        text-transform: uppercase;
        margin-bottom: .2em;
    }

    h2{
        font-size: 2.2em;
        margin-bottom: .5em;

        a{
            color: $white;
            text-decoration: none;
            transition: $transition;

            &:hover{
                text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 5px;
            }
        }
    }
}

#skills{
    background: $cream;

    .card{
        h3{
            color: $cream-solid;
            border-color: $cream-solid;
        }
    }
}

#projects{
    background: $dark-blue;

    .card{
        h3{
            color: $dark-blue-solid;
            border-color: $dark-blue-solid;
        }

        padding-bottom: 3em;
    }
}

#freelance{
    background: $teal;

    .card{
        h3{
            color: $teal-solid;
            border-color: $teal-solid;
        }
    }
}

#contact{
    background: $cream;

    a, i{
        color: $white;
        text-decoration: none;
        margin: 0 .5em .5em 0;
        transition: $transition;
    }

    a{
        font-size: 1.5em;
        
    }

    i{
        font-size: 2em;
        &:hover{
            text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 7px;
        }
    }

    .email:hover{
        text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 5px;
    }

    form{
        label{
            font-size: 1.5em;
            position: relative;

            input, textarea{
                background: transparent;
                border: none;
                border-bottom: 2px solid $grey;
                color: $grey;
                width: 80%;
                font-size: 1em;
                margin: 1em 0;
                resize: none;
                transition: $transition;
                font-family: 'Quicksand';
    
                &:focus{
                    outline: none;
    
                    // &::placeholder{
                    //     transition: $transition;
                    //     color: transparent;
                    // }
                }

                &:not(:placeholder-shown) + span,
                &:focus + span{
                    left: 0;
                    top: -1em;
                    opacity: 1;
                }
                
                &:focus{
                    outline: none;
                }
            }

            textarea{
                
                
                &:focus{
                    outline: none;
                }
            }

            span{
                pointer-events: none;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0.5;
                transition: $transition;
            }
        }

        .message-label{
            textarea{
                &:not(:placeholder-shown) + span,
                &:focus + span{
                    left: 0;
                    top: -7.5em;
                    opacity: 1;
                }
            }
            
            span{
                top: -6.5em;
            }
        }

        button{
            font-size: 1.4em;
            font-family: 'Quicksand';
            color: $white;
            border: 2px solid $dark-blue-solid;
            //border-bottom: 2px solid $grey;
            border-radius: .1em;
            background: none;
            padding: .5em;
            transition: $transition;
            background: $dark-blue-solid;

            &:hover{
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
                background: darken($color: $dark-blue-solid, $amount: 10);
                border: 2px solid darken($color: $dark-blue-solid, $amount: 10);
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    #home, #skills, #projects, #freelance, #contact{
        h1{
            width: 50%;
        }
        
        .cards{
            display: block;
            .card{
                width: 80%;
            }
        }
    }
    
    #home{
        h1{
            width: 80%;
        }
    }
}